body{

    font-family: 'Poppins', sans-serif;
    margin: 0;
}
h1{
    font-size: 50px;
}
.orange-color{
    color: orange;
}
.fexible-container{
    display: flex;
    margin-bottom: 100px;
}
.half-part{
    width: 50%;
    padding-left: 20px;
}
.half-part img{
    width: 80%;
}
.link-button{
    color: white;
    text-decoration: none;
    background-image: linear-gradient(orange, rgb(255, 81, 0));
    background-color: rgb(243, 133, 8);
    padding: 10px 25px;
    border-radius: 20px;
    font-weight: 700;  
}
.middle-banner{
background-image: url("images/background.jpg");
background-repeat: no-repeat;
margin-bottom: 70px;
}
.position{
    margin-top: 250px;
}
.about-me{
    margin-bottom: 50px;

}
.my-recpies{
    text-align: center;
    margin-left: 200px;
    margin-right: 200px;
    margin-bottom: 30px;
    
}
.food-items img{
    width:80%;
}
.food-items{
    width:30%;
    margin-left:10px;
    margin-right: 10px;
    box-shadow: 10px 10px 40px grey;
}
.recipies-divider{ 
  width:30%;
  margin-left:3%;
  margin-right: 3%;
  box-shadow: 10px 10px 40px grey;
  padding: 20px;
  border-radius: 15px;
}
.recipies-divider img{
    width: 100%;
}
.footer-design{
    background-color: rgb(108, 31, 160);
    text-align: center;
    height: 150px;
}